@model IEnumerable<NeoStore.ViewModels.OutOfStockViewModel>

@{
    ViewData["Title"] = "Index";
}
<h1>Out of Stock Report</h1>

<div class="float-right" style="margin-bottom: 15px;">
    @using (Html.BeginForm("OutOfStockReport", "Report", FormMethod.Get))
    {
        <b>Sort: </b> @Html.RadioButton("option", "Name") <label> Name </label> @Html.RadioButton("option", "Date") <label> Date </label> <input class="btn btn-outline-secondary my-2 my-sm-0" type="submit" name="submit" value="Sort" />
    }
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockedDate)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockedDate)
            </td>
        </tr>
        }
    </tbody>
</table>