@model IEnumerable<NeoStore.ViewModels.ProductNotSoldViewModel>

@{
    ViewData["Title"] = "Product Not Sold";
}

<h1>Product Not Sold List (Last 30 Days)</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailableStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductCategory)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCategory)
            </td>
        </tr>
        }
    </tbody>
</table>
