@model IEnumerable<NeoStore.ViewModels.ProductStockViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Stock List Report</h1>
<form class="form-inline">
    @using (Html.BeginForm("StockListReport", "Report", FormMethod.Get))
    {
        <input class="form-control mr-sm-2" name="search" id="search" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    }
</form>
<hr>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockQuantity)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
         {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductModel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StockQuantity)
                </td>

            </tr>
         }
    </tbody>
</table>
